
body{
    background-color: #D8C2A7;
    color: #763F21;
    font-family: Andale Mono, monospace;
  }
  
  @font-face {
    font-family: 'pixelFontB';
    src: url('./fonts/pixels.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'pixelFontS';
    src: url('./fonts/Pixeled.ttf') format('truetype');
  }